@charset "utf-8";
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,figure,div {
    margin: 0;
    padding: 0
}

fieldset,img {
    border: 0 none
}

a,img {
    vertical-align: top
}

a {
    background: transparent;
    -webkit-tap-highlight-color: rgba(255,255,255,0)
}

a:active,a:hover {
    outline: 0 none
}

a,a:hover {
    text-decoration: none
}

:focus {
    outline: 0 none
}

address,caption,cite,code,dfn,em,th,var,optgroup {
    font-style: normal;
    font-weight: 400
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%
}

abbr,acronym {
    border: 0 none;
    font-variant: normal
}

input,button,textarea,select,optgroup,option {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit
}

code,kbd,samp,tt,input,button,textarea,select {
    font-size: 100%
}

ol,ul,li {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

sup,sub {
    font-size: 100%;
    vertical-align: baseline
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: ''
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: not-allowed
}

button {
    overflow: visible
}

em,i {
    font-style: normal
}


body {
    font: 12px/1.5 tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
    color: #333;
    min-width: 1000px
}

a {
    color: #333
}

a:hover {
    color: #CD2757;
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.f-clearfix {
    zoom:1}

.f-clearfix:before,.f-clearfix:after {
    display: table;
    content: ' '
}

.f-clearfix:after {
    clear: both
}

html .f-hide {
    display: none
}

.f-text-left {
    text-align: left
}

.f-text-right {
    text-align: right
}

.f-text-center {
    text-align: center
}


.f10 {
    font-size: 10px
}

.f12 {
	font-size: 12px
}

.f14 {
    font-size: 14px
}

.f16 {
    font-size: 16px
}

.f18 {
    font-size: 18px
}

.f20 {
    font-size: 20px
}

.mb5 {
  	margin-bottom: 5px;
}

.mb15 {
	margin-bottom: 15px
}

.mb30 {
	margin-bottom: 30px
}

.mb50 {
  	margin-bottom: 50px;
}

.lh14 {
  	line-height: 14px;
}

.mr70 {
  	margin-right: 70px;
}

.mr5 {
  	margin-right: 5px;
}

.clear {
  	overflow: hidden;
  	zoom: 1;
}

.clearfix{
	
}

.clearfix:after {
  	content: '.';
  	height: 0;
  	display: block;
  	clear: both;
  	visibility: hidden;
}
.gray {
  	color: gray;
}

.deep_red {
  	color: #CD2757;
}


.ui-btn-big, .ui-btn-large, .ui-btn-nor, .ui-btn-medium, .ui-btn-small, .ui-btn-mini {
  	display: inline-block;
  	border-radius: 3px;
  	text-decoration: none;
  	text-align: center;
  	vertical-align: top;
  	-webkit-transition: .3s;
  	transition: .3s;
  	cursor: pointer;
  	_overflow-y: hidden;
}

.ui-btn-big, .ui-btn-large {
  	min-width: 72px;
  	_width: 72px;
  	padding: 0 35px;
  	font: 18px/44px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
  	_line-height: 48px;
  	height: 44px;
}

.ui-btn1, .ui-btn-primary {
  	background-color: #CD2757;
  	border: 1px solid #CD2757;
}

.ui-btn1:hover, .ui-btn-primary:hover {
  	background-color: rgba(205, 39, 87, 0.9);
  	border-color: rgba(205, 39, 87, 0.9);
}

.ui-btn1, .ui-btn-primary, .ui-btn1:hover, .ui-btn-primary:hover, .ui-btn1:active, .ui-btn-primary:active {
  	color: #fff;
}

.ui-btn-loading, button.ui-btn-loading {
  	padding: 0;
  	overflow: hidden;
}


.ui-btn-big .if-shopping-bag, .ui-btn-large .if-shopping-bag {
  	font-size: 22px;
}
