.header {
	display: block;
	position: relative;
	z-index: 101;
	background-color: #fff;
	color: #333;
	font: 12px/1.5 tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
	display: block;
}

.header a {
	text-decoration: none;
	vertical-align: top;
}

.header img {
	border: 0 none;
	vertical-align: top;
}

.header i {
	font-style: normal;
	display: inline-block;
}

.top_nav {
	height: 120px;
	line-height: 26px;
	background-color: #fff;
	color: #777;
	display: block;
}

.top_nav a {
	color: #777;
}

.top_nav a:hover {
	color: #f10180;
}

.head_inner {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.top_nav_tool {
	position: absolute;
	top: 0;
	right: 0;
}

.top_nav_tool a {
	color: #666;
}

.top_nav_tool a:hover {
	color: #f10180;
}

.top_nav_tool li{
	float: left;
}

.top_nav_tool li a {
	margin: 0 5px;
}

.header_logo_dop {
	float: left;
}

.sel_area {
	height: 20px;
	line-height: 20px;
	float: left;
	margin-top: 72px;
	padding-left: 16px;
	position: relative;
	z-index: 10;	
}

.sel_area_change {
	float: right;
	height: 30px;
	color: #555;	
}

.sel_area_btn {
	width: 100px;
	height: 20px;
	padding: 0 5px;
	border: 1px solid #ddd;
	cursor: pointer;
}

.sel_area_arrow {
	float: right;
	width: 0;
	height: 0;
	font-size: 0;
	border-width: 5px 5px 0;
	border-style: solid;
	border-color: #bfbfbf transparent transparent;
	margin: 8px 3px 0 0;
}

.header_search {
    float: right;
  	margin-top: 60px;
  	width: 420px;
  	height: 30px;
  	z-index: 11;
  	border: 3px solid #CD2757;
  	position: relative;
  	zoom: 1;
}

.header_search .form {
	height: 30px;
  	overflow: hidden;
}

.header_search .form input {
	float: left;
}

.header_search input {
	margin: 0;
	padding: 0;
	height: 30px;
	border: 0;
}

.header_search .text, .header_search .button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
	
.header_search .form .text {
	width: 332px;
  	height: 20px;
  	padding: 5px;
  	background-position: 0 -360px;
  	background-color: #fff;
  	background-repeat: repeat-x;
  	line-height: 20px;
  	color: #999;
  	font-family: arial,"\5b8b\4f53";
  	font-size: 14px;	
}

.header_search .form .button {
	width: 78px;
  	background: #CD2757;
  	font-size: 14px;
  	font-weight: 700;
 	color: #fff;
 	display: inline-block;
 	text-align: center;
  	cursor: pointer;
}

.main_nav {
	clear: both;
  	height: 32px;
  	line-height: 32px;
  	background-color: #CCCCCC;
  	font-size: 14px;
  	color: #fff;
}

.main_nav_link {
	float: left;	
}

.main_nav_link li {
	float: left;
}

.main_nav_link a {
  	display: block;
  	width: 108px;
  	text-align: center;
  	color: #fff;
  	font-weight: 900;
}

.main_nav_link li a.current {
  	background-color: #CBCC4A;
  	color: #fff;
  	cursor: default;
  	font-weight: 700;
}

.main_nav_link li a.special {
	color: #CD2757;
}

.main_nav_link li a:hover {
  	background-color: #CBCC4A;
  	color: #fff;
}
