<!DOCTYPE html>
<html>
	<head>
	    <%block name='head'>
	        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	        <title>dd</title>
	        <meta name="description" content=""/>
	        <meta name="author" content=""/>
	        <!-- bootstrap css -->
			<link href="${STATIC_URL}bootstrap-3.3.2/css/bootstrap.min.css" rel="stylesheet">
			<!-- 平台cs	 -->
<!-- 			<link href="${STATIC_URL}bk/bk.css" rel="stylesheet"> -->
 
	        <!-- jquery js  -->
			<script src="${STATIC_URL}js/jquery-1.11.2.min.js" type="text/javascript"></script>
<!-- 	        <script src="${STATIC_URL}jquery/jquery.json-2.3.min.js"></script> -->
			<!-- bootstrap js  -->
			<script src="${STATIC_URL}bootstrap-3.3.2/js/bootstrap.min.js" type="text/javascript"></script>

	        
	        <!-- 这个是全局配置，如果需要在js中使用app_code和site_url,则这个javascript片段一定要保留 -->
	        <script type="text/javascript">

		    </script>
	        <style>
	        	/*如果你需要给你的应用固定高度和宽度，请在这里修改*/
				body {min-width:940px; width:auto;height:670px;}
			</style>
		</%block>
	</head>
	
	<body>
    	<!--顶部导航 Start-->
		<header class="container navbar navbar-sample1">
			<div class="header">
				ddd
			</div>
		</header>
		<!--顶部导航 End--> 
	
	    <!-- 固定宽度居中 start -->
	    <div class="container">
	    	<div class="">
	        	<%block name='content'>ddd</%block>
	    	</div>
	    </div>
	    <!-- 固定宽度表单居中 end -->  

	</body>
</html>
